body {
    background-color: black;
    display: flex;
    
}

.tree {
    position: absolute;
    width: 50vh;
    height: 50vh;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    
}