:root {
    --darkblue: #353FCE;
    --darkgreen: #00AA00;
    --darkaqua: #00AAAA;
    --darkred: #D13228;
    --darkpurple: #A335EE;
    --gold: #FF9000;
    --gray: #A8BFD2;
    --darkgray: #707592;
    --blue: #459BFF;
    --green: #55FF55;
    --aqua: #55FFFF;
    --red: #FF5555;
    --purple: #FF55FF;
    --yellow: #FFDE2F;
    --tooltipbg: rgba(5,18,38,0.9);
    --white: #FFFFFF;
    --black: #000000;
}

@font-face {
    font-family: Mojangles;
    src: url(assets/fonts/MinecraftDefault-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Mojangles;
    src: url(assets/fonts/MinecraftDefault-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: HypixelSkyblock;
    src: url(assets/fonts/Hypixel-SkyBlock.woff2);
}

body {
    background-color: black;
    color: white;
    font-family: Mojangles, HypixelSkyblock;
    font-size-adjust: 0.4;
    image-rendering: pixelated;
    display: flex;
    margin: 0;
    overflow-x: hidden;
}

#leftside {
    position: absolute;
    width: 100vw;
    height: 50vh;
}

#tooltip {
    padding: 0.77em 1.05em 1em 1.05em;
    width: fit-content;
    
    min-height: 20px;
    transform: scale(2);
    translate: 0 50%;
    max-width: 100%;
    margin: 40px auto;
    border-image: url(/assets/common_frame.png) 4 / 8px;
    background-color: var(--tooltipbg);
}

#lore {
    width: 95%;
    height: 600px;
    margin: 10px;
    background-color: var(--tooltipbg);
    
    vertical-align: text-top;
    
    color: white;
    font-family: Mojangles, HypixelSkyblock;
    font-size-adjust: 0.4;
    font-size: 24px;
    line-height: 1.2em;
}

#sidebar {
    position: fixed;
    right: 0;
    text-align: center;
    
    background-color: var(--tooltipbg);
    
    width: 100vw;
    height: 60vh;
    top: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0.125em 0.125em color-mix(in srgb, currentColor, black 80%);
}

#rarity {
    text-align: center;
    font-size: large;
    color: white;
    font-family: Mojangles;
    font-weight: bold;
    padding: 5px;
    appearance: none;
    border-color: white;
    border-style: ridge;
    background-color: dimgray;
    text-shadow: 0.125em 0.125em color-mix(in srgb, currentColor, black 80%);
    
    transform: scale(2);
    margin: 20px;
}

#rarity:hover {
    border-color: var(--blue);
    background-color: var(--darkgray);
}

.iconbutton {
    background: none;
    border: none;
    color: var(--gray);
}

.iconbutton:hover {
    transform: scale(1.1);
    transition: transform .25s, color .25s;
    cursor: pointer;
    color: white;
}

.tooltiptext {
    font-size: 16px;
    line-height: 1.2em;
    text-shadow: 0.125em 0.125em color-mix(in srgb, currentColor, black 80%);
    text-rendering: optimizeLegibility;
}

.tooltiptext a {
    color: var(--blue);
    transition: color .25s;
}
.tooltiptext a:hover {
    color: var(--purple);
}

.tabs {
    background-color: rgba(2, 10, 22, 0.8);
    padding: 5px;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
    transform: scale(1.5);
    margin: 30px;
}

#grid {
    min-height: 5%;
    border-top: solid;
    border-bottom: solid;
    border-color: #001133;
    background-color: rgba(2, 10, 22, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size-adjust: 0.4;
    padding: 10px;
}

.gridbutton {
    font-size: 64px;
}

.bigtext {
    background: none;
    color: white;
    border: none;
    font-family: Mojangles;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 0.125em 0.125em color-mix(in srgb, currentColor, black 80%);
    transition: color .25s;
}

.bigtext:hover {
    color:var(--blue);
    cursor: pointer;
}

.man a {
    color: var(--tooltipbg);
    text-decoration: none;
}

.buttonlabel {
    font-family: Mojangles;
    font-size: 16px;
    text-shadow: 0.125em 0.125em color-mix(in srgb, currentColor, black 80%);
}

@media only screen and (min-width: 600px) {
    #leftside {
        width: 70vw;
        height: 100vh;
    }
    #sidebar {
        width: 30vw;
        height: 100%;
        overflow-y: scroll;
        top: 0;
    }
    #lore {
        height: 400px;
    }
    .tabs {
        transform: scale(1);
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    .gridbutton {
        font-size: 32px;
    }
    #rarity {
        transform: scale(1);
        margin: 0;
    }
}